rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function isAdmin() {
      return signedIn() &&
        request.auth.token.email == "CHANGE-TO-JACKIES-EMAIL@example.com";
    }
    match /builds/{buildId} {
      allow read: if resource.data.status == "approved" || isAdmin();
      allow create: if signedIn();
      allow update, delete: if isAdmin();
    }
  }
}
